/********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************/

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 70px;
    outline: 2px solid black;
    padding-right: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1px;

    outline: 2px solid black;
    padding: 5px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    gap: 1px;
}

.long {
    flex: 0 0 50%;
}

.square {
    width: 70px;
    height: 70px;
    flex: 0 0 25%;
}